[package]
name = "adventofcode_2023"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.75"
aoc-next = "0.1.0"
indoc = "2.0.4"
itertools = "0.12.0"
winnow = "0.5.19"
